<template name="calendarPage">
  {{#with currentCalendar}}
    {{> calendarItem}}
  <div class="calendar">
    <a href="/img/default_content/1-mountain-dew.jpg" data-pirobox="single" class="pirobox" title="test">
      <img class="calendar-door" style="left:30px; top:30px;" src="/img/default_doors/1.jpg"/>
    </a>
    <img class="calendar-door" style="left:220px; top:30px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG8930719/m/FANTASY-DAY-2_2073242a.jpg"/>
    <img class="calendar-door" style="left:410px; top:30px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG8932022/m/advent-day-3_2073723a.jpg"/>
    <img class="calendar-door" style="left:600px; top:30px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG9719630/m/december-4_2417435a.jpg"/>
    <img class="calendar-door" style="left:790px; top:30px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG8932026/m/advent-day-5_2073721a.jpg"/>
    <img class="calendar-door" style="left:980px; top:30px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG8936214/m/advent-day-6_2075488a.jpg"/>
    
    <img class="calendar-door" style="left:30px; top:220px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG8936222/m/advent-day-7_2075492a.jpg"/>
    <img class="calendar-door" style="left:220px; top:220px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG8936230/m/advent-day-8_2075493a.jpg"/>
    <img class="calendar-door" style="left:410px; top:220px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG8943490/m/advent-day-9_2078885a.jpg"/>
    <img class="calendar-door" style="left:600px; top:220px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG8943502/m/advent-day-10_2078891a.jpg"/>
    <img class="calendar-door" style="left:790px; top:220px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG8943509/m/advent-day-11_2078894a.jpg"/>
    <img class="calendar-door" style="left:980px; top:220px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG8943511/m/advent-day12_2078898a.jpg"/>
    
    <img class="calendar-door" style="left:30px; top:410px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG9735556/m/advent-day-13_2082478a.jpg"/>
    <img class="calendar-door" style="left:220px; top:410px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG9735785/m/advent-day-14_2083530a.jpg"/>
    <img class="calendar-door" style="left:410px; top:410px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG8955349/m/advent-15_2084080a.jpg"/>
    <img class="calendar-door" style="left:600px; top:410px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG8955355/m/advent-16_2084081a.jpg"/>
    <img class="calendar-door" style="left:790px; top:410px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG9743493/m/advent-day-17_2084082a.jpg"/>
    <img class="calendar-door" style="left:980px; top:410px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG9743518/m/slide_18_2087138a.jpg"/>    
    
    <img class="calendar-door" style="left:30px; top:600px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG8961579/m/slide_19_2087154a.jpg"/>
    <img class="calendar-door" style="left:220px; top:600px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG8961661/m/slide_20_2087158a.jpg"/>
    <img class="calendar-door" style="left:410px; top:600px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG8970100/m/slide_21_2090656a.jpg"/>
    <img class="calendar-door" style="left:600px; top:600px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG9761627/m/sliade_22_2091076a.jpg"/>
    <img class="calendar-door" style="left:790px; top:600px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG8971168/m/slide_23_2091167a.jpg"/>
    <img class="calendar-door" style="left:980px; top:600px;" src="http://ris.fashion.telegraph.co.uk/RichImageService.svc/imagecontent/1/TMG9761528/m/slide_24_2092059a.jpg"/>
    
    
    <img class="calendar-main" src="{{bgurl}}"/>
  
  </div>
    <ul class="comments">
      {{#each comments}}
        {{> comment}}
      {{/each}}
    </ul>
    
    {{#if currentUser}}
      {{> commentSubmit}}
    {{else}}
      <p>Please log in to leave a comment.</p>
    {{/if}}
  {{/with}}
</template>