<template name="calendarCreate">
  <form class="main">
    
    <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input name="title" type="text" value="" placeholder="Name your calendar"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="message">Description</label>
        <div class="controls">
            <textarea name="description" type="text" value="" placeholder="Say a few words about your calendar"/>
        </div>
    </div> 
    
    <div class="control-group">
        <label class="control-label" for="url">Background Picture URL</label>
        <div class="controls">
            <input name="bgurl" type="text" value="" placeholder="Your background picture URL"/>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Create" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>
