<template name="calendarEdit">
  {{#with calendar}}
    <form class="main">
       <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input name="title" type="text" value="{{title}}" placeholder="Name your calendar"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="message">Description</label>
        <div class="controls">
          <textarea name="description" type="text" value="">{{description}}</textarea>
        </div>
    </div> 
    
    <div class="control-group">
        <label class="control-label" for="url">Background Picture URL (will be scaled to 1170x770px)</label>
        <div class="controls">
            <input name="bgurl" type="text" value="{{bgurl}}" placeholder="Your background picture URL"/>
        </div>
    </div>
      
      <div class="control-group">
        <label class="control-label" for="private">Private Calendar &mdash; <input name="private" type="checkbox" {{getPrivateCheckboxState}}></label>
        <div class="controls">
            You need to share the calendar link for people to access it.
        </div>
    </div>

      <div class="control-group">
          <div class="controls">
              <input type="submit" value="Update" class="btn btn-primary submit"/>
          </div>
      </div>
      <hr/>
      <div class="control-group">
          <div class="controls">
              <a class="btn btn-danger delete" href="#">Delete post</a>
          </div>
      </div>
    </form>
  {{/with}}
</template>