<template name="calendarItem">
  <div class="calendar">
    <img class="portrait" src="{{bgurl}}"/>
    <div class="calendar-content">
      <h3>{{title}}</h3>
      <p>
        {{pluralize votes "Vote"}},
        submitted by {{author}},
        <a href="{{calendarPagePath this}}">{{pluralize commentsCount "comment"}}</a>
        {{#if ownCalendar}}<a href="{{calendarEditPath this}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="#" class="upvote btn {{upvotedClass}}">⬆</a>
    <a href="{{calendarPagePath this}}" class="discuss btn">Comment</a>
  </div>
</template>